.THIS div.tableInput > .slds-form-element__label {
	display: none;
}
.THIS .no-border-left{
	border-left:none; 
}
.THIS.slds-modal__container{
    max-width: 70rem !important;
    width:80% !important;
}